/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0-ExdGM.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0aExdGM.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yExdGM.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0OOtLQ0Z.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0OqtLQ0Z.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0OCtLQ0Z.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
:root {
  font-size: 18px;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Calibri", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Calibri", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif; }
  @media screen and (max-width: 55.8rem) {
    .container {
      width: 98%; } }
  @media screen and (min-width: 55.8rem) {
    .container {
      width: 90%; } }

body {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Calibri", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif;
  font-size: 1rem;
  margin: 0 1rem; }

.square {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Calibri", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif;
  background: #fff;
  border: 0.1rem solid #999;
  /*float: left;*/
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  height: 3rem;
  margin: -0.05rem -0.05rem 0 0;
  padding: 0;
  text-align: center;
  width: 3rem; }
  .square:focus {
    outline: none; }
  .square:hover {
    cursor: pointer; }

.kbdnavigation .square:focus {
  background: #ddd; }

.square-highlight {
  background-color: blue;
  color: white; }

ol, ul {
  padding-left: 30px; }

/*.board-row:after
{
    clear: both;
    content: "";
    display: table;
}*/
.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.status {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Calibri", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif;
  margin-bottom: 10px; }

.game {
  display: flex;
  flex-direction: column; }

.game-title {
  font-weight: bold;
  text-align: center;
  margin: 1rem 0; }
  @media screen and (max-width: 55.8rem) {
    .game-title {
      font-size: 1.5rem; } }
  @media screen and (min-width: 55.8rem) {
    .game-title {
      font-size: 2rem; } }

.game-box {
  justify-content: center;
  display: flex;
  margin-bottom: 4rem; }
  @media screen and (max-width: 55.8rem) {
    .game-box {
      flex-direction: column; } }
  @media screen and (min-width: 55.8rem) {
    .game-box {
      max-height: 30rem;
      flex-direction: row; } }

.game-board {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  justify-content: center;
  border: 0.05px solid black;
  padding: 1rem; }

input[type=number] {
  line-height: 1.2rem;
  padding: 0.2rem 0.5rem;
  width: 3rem;
  display: inline-block; }

input[type=submit] {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Calibri", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif;
  width: 100%;
  padding: 0.05rem;
  text-align: center;
  cursor: pointer;
  line-height: 1.2rem; }

.game-form {
  display: flex;
  margin: 0.5rem 1rem; }
  @media screen and (max-width: 55.8rem) {
    .game-form {
      flex-direction: column; } }
  @media screen and (min-width: 55.8rem) {
    .game-form {
      flex-direction: row; } }

.game-form-item {
  margin: 0 1rem;
  justify-content: center; }
  .game-form-item.submit {
    line-height: 1.2rem;
    margin: auto 0;
    text-align: center; }
  .game-form-item:nth-child(1) {
    flex: 1; }
  .game-form-item:nth-child(2) {
    flex: 4; }
  .game-form-item:nth-child(3) {
    flex: 1; }

.game-form-players {
  padding: 0.2rem 0.5rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: row; }
  .game-form-players > label {
    flex: 1;
    display: inline-block;
    text-align: right;
    padding-right: 1rem; }
  .game-form-players > select {
    flex: 1;
    display: inline-block; }

.game-reset {
  padding: 0.05rem;
  text-align: center;
  margin: 0rem 1rem;
  border: 0.05rem solid black;
  cursor: pointer; }

.game-info {
  overflow-y: auto;
  flex-grow: 1;
  text-align: left;
  border: 0.05px solid black;
  padding: 1rem; }
  @media screen and (max-width: 55.8rem) {
    .game-info {
      margin-top: 1rem; } }
  @media screen and (min-width: 55.8rem) {
    .game-info {
      margin-left: 1rem; } }

.game-move-item {
  cursor: pointer;
  color: black;
  background-color: white; }
  .game-move-item:hover {
    color: white;
    background-color: black; }

.game-players {
  display: flex;
  margin: 0.5rem 1rem; }
  @media screen and (max-width: 34.5rem) {
    .game-players {
      flex-direction: column; } }
  @media screen and (min-width: 34.5rem) {
    .game-players {
      flex-direction: row; } }

.game-players div {
  border: 0.04rem solid black;
  padding: 0.05rem 1rem;
  margin: 0rem 1rem;
  flex: 1;
  text-align: center; }

.player-highlight {
  color: white;
  background-color: black; }

/*# sourceMappingURL=index.css.map */
