$mobile: 35.5rem;//640px;
$minitablet: 42.6rem;//768px;
$tablet: 56.8rem;//1024px;
$laptop: 71.1rem;//1280px;
$desktop: 75.8rem;//1366px;
$fullhd: 106.6rem;//1920px;
$ultrahd: 213.3rem;//3840px;

@mixin mobile
{
    @media (max-width: #{$mobile})
    {
        @content;
    }
}

@mixin minitablet
{
    @media (min-width: #{$minitablet}) and
            (max-width: #{$tablet - 1})
    {
        @content;
    }
}

@mixin tablet
{
    @media (min-width: #{$tablet}) and
            (max-width: #{$laptop - 1})
    {
        @content;
    }
}

@mixin laptop
{
    @media (min-width: #{$laptop}) and
            (max-width: #{$desktop - 1})
    {
        @content;
    }
}

@mixin desktop
{
    @media (min: #{$desktop}) and
            (max: #{$fullhd - 1})
    {
        @content;
    }
}

@mixin fullhd
{
    @media (min-width: #{$fullhd})
    {
        @content;
    }
}

@mixin until($device)
{
    @media screen and (max-width: $device - 1)
    {
        @content
    }
}

@mixin from($device)
{
    @media screen and (min-width: $device - 1)
    {
        @content
    }
}

@mixin within($min, $max)
{
    @media screen and (min: $min) and (max: $max)
    {
        @content;
    }
}

