.square
{
    font-family: $normal-font;
    background: #fff;
    border: 0.1rem solid #999;
    /*float: left;*/
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    height: 3rem;
    margin: -0.05rem -0.05rem 0 0;
    padding: 0;
    text-align: center;
    width: 3rem;
    &:focus
    {
        outline: none;
    }
    &:hover
    {
        cursor: pointer;
    }
}

.kbdnavigation .square:focus
{
    background: #ddd;
}

.square-highlight
{
    background-color: blue;
    color: white;
}