input[type=number]
{
    line-height: 1.2rem;
    padding: 0.2rem 0.5rem;
    width: 3rem;
    display: inline-block;
}

input[type=submit]
{
    font-family: $normal-font;
    width: 100%;
    padding: 0.05rem;
    text-align: center;
    cursor: pointer;
    line-height: 1.2rem;
}

.game-form
{
    display: flex;
    margin: 0.5rem 1rem;
    @include until($tablet)
    {
        flex-direction: column;
    }
    @include from($tablet)
    {
        flex-direction: row;
    }
}

.game-form-item
{
    margin: 0 1rem;
    &.submit
    {
        line-height: 1.2rem;
        align-content: center;
        margin: auto 0;
        text-align: center;
    }
    &:nth-child(1)
    {
        flex: 1;
    }
    &:nth-child(2)
    {
        flex: 4;
    }
    &:nth-child(3)
    {
        flex: 1;
    }
}

.game-form-players
{
    padding: 0.2rem 0.5rem;
    line-height: 1.2rem;
    display: flex;
    flex-direction: row;
    > label
    {
        flex: 1;
        display: inline-block;
        text-align: right;
        padding-right: 1rem;
    }
    > select
    {
        flex: 1;
        display: inline-block;
    }
}

.game-reset
{
    padding: 0.05rem;
    text-align: center;
    margin: 0rem 1rem;
    border: 0.05rem solid black;
    cursor: pointer;
}

