.game
{
    display: flex;
    flex-direction: column;
}

.game-title
{
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    @include until($tablet)
    {
        font-size: 1.5rem;
    }
    @include from($tablet)
    {
        font-size: 2rem;
    }
}

.game-box
{
    justify-content: center;
    display: flex;
    margin-bottom: 4rem;
    @include until($tablet)
    {
        flex-direction: column;
    }
    @include from($tablet)
    {
        max-height: 30rem;
        flex-direction: row;
    }
}

.game-board
{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: center;
    @if $mode == debug
    {
        border: 0.05px solid black;
    }
    padding: 1rem;
}

