.game-players
{
    display: flex;
    margin: 0.5rem 1rem;
    @include until($mobile)
    {
        flex-direction: column;
    }
    @include from($mobile)
    {
        flex-direction: row;
    }
}

.game-players div
{
    border: 0.04rem solid black;
    padding: 0.05rem 1rem;
    margin: 0rem 1rem;
    flex: 1;
    text-align: center;
}

.player-highlight
{
    color: white;
    background-color: black;
}