.container
{
    margin: 0 auto;
    padding: 0;
    font-family: $normal-font;
    @include until($tablet)
    {
        width: 98%;
    }
    @include from($tablet)
    {
        width: 70%;
    }
}

body
{
    font-family: $normal-font;
    font-size: 1rem;
    margin: 0 1rem;
}
