.container
{
    margin: 0 auto;
    padding: 0;
    font-family: $normal-font;
    @include until($tablet)
    {
        width: 85%;
    }
    @include from($tablet)
    {
        width: 60%;
    }
}

body
{
    font-family: $normal-font;
    font-size: 1rem;
    margin: 1rem;
}

ol, ul
{
    padding-left: 30px;
}

/*.board-row:after
{
    clear: both;
    content: "";
    display: table;
}*/
.board-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status
{
    font-family: $normal-font;
    margin-bottom: 10px;
}

.square
{
    font-family: $normal-font;
    background: #fff;
    border: 0.1rem solid #999;
    /*float: left;*/
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    height: 3rem;
    margin: -0.05rem -0.05rem 0 0;
    padding: 0;
    text-align: center;
    width: 3rem;
    &:focus
    {
        outline: none;
    }
}

.kbdnavigation .square:focus
{
    background: #ddd;
}

.game
{
    display: flex;
    flex-direction: column;
}

.game-box
{
    justify-content: center;
    display: flex;
    @include until($mobile)
    {
        flex-direction: column;
    }
    @include from($mobile)
    {
        flex-direction: row;
    }
}
.game-title
{
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    @include until($tablet)
    {
        font-size: 1.5rem;
    }
    @include from($tablet)
    {
        font-size: 2rem;
    }
}

.game-info
{
    text-align: center;
    @include until($mobile)
    {
        margin-top: 1rem;
    }
    @include from($mobile)
    {
        margin-left: 1rem;
    }
}

.game-board
{
    justify-content: center;
}

.game-reset
{
    padding: 0.05rem;
    text-align: center;
    margin: 1rem;
    border: 0.05rem solid black;
    cursor: pointer;
}